<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChaTo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A89423C1EF37B6F000422CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A8942551EF37B6F000422CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A8942601EF37B6F000422CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
